/* Styles css*/

.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: larger;
    font-weight: bold;
    font-style: italic ;
    background-color: limegreen;
    width: auto;
    text-align: center;   
}

.recipes{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    background-color:mediumseagreen;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    font-style: italic ;
    text-align: center;
}

.recipes1:hover{
    width: auto;
    background-color: Green;
    font-family: Times;
    color:ivory;
}


.title{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    background-color: mediumseagreen;
    width: auto;
    text-align: center;
}

.imgrecipe{
    display: block;
    margin: auto;
}

.titledesc{
    margin-left: 10px;
    border-top: 10px;
    border-bottom: 10px;
    border-color: black;
    font-size: 40px;
}

.desc{
    margin-left: 20px;
    margin-right: 120px;
    text-align: justify;
}

.ingredients{
    border: 1px solid mediumseagreen;
    text-align: center;
}

.li{
    margin-left: 300px;
    text-align: justify;
}


.buttonTop{
    display: block;
    margin: auto;
    font-size: 30px;
    font:bold;
    color: green;
    background-color: orange;
}

a:link, a:visited {text-decoration:none};

