/* Styles css*/

.logo{
    width: 840px;
    padding: 15px;
    border: thick double Teal;
    background-color: rgb(107, 240, 240);
    font-family: Verdana, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: rgb(26, 65, 2);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;   
}

.logo h5{
    color:rgb(126, 83, 9);
}

.recipes{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color:rgb(43, 207, 114);
    font-family: Verdana, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    color: rgb(47, 94, 14);
}

.recipes1:hover {
    /*width: max-content;*/
    background-color: rgb(23, 201, 23);
    color:ivory;
}


.title{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(43, 207, 114);
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: center;
}

.imgrecipe{
    display: block;
    margin: auto;
}

.titledesc{
    border-top: 10px;
    border-bottom: 10px;
    border-color: black;
    text-align: center;
    font-size: 30px;
    color:rgb(61, 50, 50)

}

.desc{
    margin-left: 230px;
    margin-right: 230px;
    text-align: justify;
}



.ingredients{
    margin-left: auto;
    margin-right: auto;
    width: 840px;
    border: 2px solid rgb(43, 207, 114);
    text-align: center;
}

.li{
    margin-left: 300px;
    margin-right: 300px;
    text-align: justify;
}


.buttonTop{
    display: block;
    margin: auto;
    font-size: 20px;
    font:bold;
    color: green;
    background-color: orange;
}

a:link, a:visited {text-decoration:none};

